{% extends "base.twig" %}
{% import "macros.twig" as m %}

{% block doctorsActive %}
    font-bold text-red-500
{% endblock %}

{% block main %}
    {{ m.header("Delete "~doctor.name, [
        {link: "/doctors/"~doctor.id, label: "Back"}
    ]) }}
    <form method="post" action="/doctors/{{ doctor.id }}/delete" class="mt-2">
        {{ m.inputConfirm("Yep") }}
    </form>
{% endblock %}