{% extends "tests/base.twig" %}
{% import "macros.twig" as m %}

{% block testsActive %}
    font-bold text-red-500
{% endblock %}

{% block section %}
    {{ m.header("Delete report "~report.created, [
        {link: "/patients/"~patient.id, label: "Back"}
    ]) }}
    <form method="post" action="/patients/{{ patient.id }}/reports/{{ report.id }}/delete" class="mt-2">
        {{ m.inputConfirm("Yep") }}
    </form>
{% endblock %}