{% extends "base.twig" %}
{% import "macros.twig" as m %}

{% block nursesActive %}
    font-bold text-red-500
{% endblock %}

{% block main %}
    {{ m.header("Create New Nurse", [
        {link: "/nurses", label: "Back"}
    ]) }}
    <form method="post" action="/nurses/create" class="mt-4 w-full flex flex-col">
        {{ m.inputText("name", "Name", null, true) }}
        {{ m.inputTextarea("description", "Description") }}
        {{ m.inputSubmit("Create") }}
    </form>
{% endblock %}