<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Potot's Clinic</title>
    <link rel="stylesheet" href="/static/output.css">
    <style>
        .animate-blink {
            animation: blink 1s step-start infinite;
        }

        @keyframes blink {
            50% {
                opacity: 0;
            }
        }
    </style>
</head>
<body class="w-80 h-screen m-auto flex flex-col items-center justify-center">
<h1 class="text-2xl font-bold">POTOT'S CLINIC LOGIN</h1>
<h2 class="my-2 text-red-500 animate-blink">!!! AUTHORIZED POTOTS ONLY !!!</h2>
<form method="post" action="/login" class="flex flex-col items-center">
    <input type="text" name="username" placeholder="Username" class="w-64 p-2 border text-center">
    <input type="password" name="password" placeholder="Password" class="w-64 mt-2 p-2 border text-center">
    <input type="submit" value="Login" class="w-64 border mt-4 p-2 hover:cursor-pointer">
</form>
</body>
</html>