{% extends "base.twig" %}
{% import "macros.twig" as m %}

{% block testsActive %}
    font-bold text-red-500
{% endblock %}

{% block main %}
    {{ m.header("Create New Test", [
        {link: "/tests", label: "Back"}
    ]) }}
    <form method="post" action="/tests/create" class="mt-4 w-full flex flex-col">
        {{ m.inputText("name", "Name", null, true) }}
        {{ m.inputTextarea("description", "Description") }}
        {{ m.inputSubmit("Create") }}
    </form>
{% endblock %}