{% extends "base.twig" %}
{% import "macros.twig" as m %}

{% block testsActive %}
    font-bold text-red-500
{% endblock %}

{% block main %}
    {{ m.header("Delete "~test.name, [
        {link: "/tests/"~test.id, label: "Back"}
    ]) }}
    <form method="post" action="/tests/{{ test.id }}/delete" class="mt-2">
        {{ m.inputConfirm("Yep") }}
    </form>
{% endblock %}